
profiles {
    local {
        docker.enabled = false
        process{
            withName: BEDTOOLS_BIGWIG { beforeScript = "export PATH=${params.ucsc_dir}:\$PATH"}
        }
    }
    cluster {
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = 'slurm'
        process.queue = 'normal'
        process {
            withName: PREPARE_SAMPLESHEET { cpus = 1; memory = '2 GB' }
            withName: FASTP_TRIM            { cpus = 8;  memory = '8 GB' }
            //withName: CUTADAPT         { cpus = 8;  memory = '8 GB' }
            withName: FASTQC_FASTQC           { cpus = 4;  memory = '4 GB' }
            withName: BWA_INDEX        { cpus = 4;  memory = '8 GB' }
            withName: BWA_MEM          { cpus = 16; memory = '32 GB' }
            withName: 'SAMTOOLS_.*'    { cpus = 8;  memory = '16 GB' }
            withName: BEDTOOLS_BIGWIG { cpus = 4;  memory = '8 GB' }
            withName: 'BCFTOOLS_.*'    { cpus = 4;  memory = '8 GB' }
            // GPU steps: need a GPU partition + Singularity --nv. Adjust `queue` to your cluster's GPU queue.
            withName: 'PARABRICKS_.*' {
                cpus             = 12
                memory           = '48 GB'
                accelerator      = 1
                queue            = 'gpu'
                containerOptions = '--nv'
            }
        }    
    }
}

process {
    withName: 'FASTP.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-fastp:latest'
        ext.args = ''
        cpus = 4
    }
    withName: 'BWA.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-bwa:latest'
        ext.args = ''
        cpus = 4
    } 
    withName: 'SAMTOOLS.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-samtools:latest'
        ext.args = ''
        cpus = 4
    }
    withName: 'FASTQC.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-fastqc:latest'
        ext.args = ''
        cpus = 4
    }
    withName: 'PARABRICKS.*' {
        container =  'nvcr.io/nvidia/clara/clara-parabricks:4.4.0-1'
        ext.args = 'num_gpus=1'
        cpus = 4
    }
    withName: 'BEDTOOLS.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-bedtools:latest'
        ext.args = ''
        cpus = 4
    }
    withName: 'BCFTOOLS.*'{
        container = 'ghcr.io/eit-gbi/nf-mod-bcftools:latest'
        ext.args = ''
        cpus = 4
    }

}